%form.form-inline(action='/search' method='get')
  .form-group
    .input-group
      %input.form-control(type='search' name='q' value='#{q}' placeholder='search')
      %span.input-group-btn
        %button.btn.btn-default(type='submit')
          search

- if shows.count == 0 && q
  .alert.alert-info
    No shows found.

%ul
  - shows.each do |show|
    %li
      %a(href='/#{show.title}/#{show.id}') #{show.title}